/*adding space background*/
body {
    background-image: url("https://cdn.pixabay.com/photo/2016/08/05/12/44/space-1572212_1280.png");
    width: 960px;
}

/*welcome to the space game sign*/
#welcome {
    font-size: 50px;
    color: white;
    font-family: cursive;
    text-align: center;
    float: center;
    margin-left: 225px;
    width: 75%;
}
    /*press any key to get started*/
p {
    font-size: 20px;
    color: rgb(248, 4, 4);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-left: 500px;
}

/* scoreboard styling */
h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

#Planet {
    float: left;
}

/* adding CSS to random planet image to help positioning */
#randplanet {
    float: right;
    margin-right: 240px;
    }
